html {
    font-family: sans-serif;
    font-size: 12px;
}
.cols {
    display: flex;
    flex-direction: column;
}

.col {
    flex: 1 0 auto;
}

.circle {
    /*display: none;*/
    float: left;
    width: 25px;
    height: 25px;
    /*margin: 0 2px 1px;*/
    text-align: center;
    line-height: 25px;
    /*border-radius: 50%;*/
    color: #fff;
    background-color: #eee;
}

#stats {
    zoom: 3;
}